* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
canvas {
	width: 100vw;
	height: 100vh;
}

.button {
	position: absolute;

	/* top: 10px;
	left: 10px; */
	width: 100px;
	height: 50px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.left {
	transform: translateX(-50%);
}
.right {
	top: 50%;
	left: 80%;
	transform: translateX(-50%, -50%);
}
